{% extends 'base.html' %}
{% block title %} Admin Portal - NotiSmart {% endblock title %}
{% block body %}
<body onload="main()">
  <div class="min-h-screen bg-gradient-to-r from-blue-700 to-indigo-900">

    <!-- Top Panel -->
    <div class="shadow-2xl">
      <h1 class="text-4xl px-12 py-6 text-blue-100 font-bold font-sans shadow-2xl flex justify-between">
        <span> Admin Portal </span>
        
        <!-- Home Button -->
        <button class="text-2xl text-white font-bold transform transition ease-in duration-200 hover:-rotate-6 hover:scale-105 bg-blue-500 hover:bg-blue-600 px-4 mr-4 py-2 rounded-md"><a href="/">HOME</a></button>
      </h1>
    </div>
    <br><br>
    <div class="grid md:grid-cols-3 gap-5 p-5 ">
      
      <!-- Section to create new notification -->
      <div class="col-span-2 ">
        <div class="bg-blue-200 rounded-3xl p-5 font-sans text-blue-900">
          <p class="font-bold text-center text-2xl"> Create new notification </p>
          
          <!-- Buttons to select notification categories -->
          <div class="flex justify-around p-3 px-3 mt-10 gap-5">
            <button class="bg-blue-500 text-white p-7 py-2 rounded transform transition ease-in duration-200 hover:translate-y-2" id="score">
              Score based Notification </button>
            <button class="bg-white p-7 py-2 rounded transform transition ease-in duration-200 hover:translate-y-2" id="status">
              User Status Notification </button>
            <button class="bg-white p-7 py-2 rounded transform transition ease-in duration-200 hover:translate-y-2" id="time">
              Time based Notification </button>
            <button class="bg-white p-7 py-2 rounded transform transition ease-in duration-200 hover:translate-y-2" id="event">
              Event Notification </button>
            <button class="bg-white p-7 py-2 rounded transform transition ease-in duration-200 hover:translate-y-2" id="role">
              Group Notification </button>
          </div><br><br>
          <div>
            
            <!-- Section for creating Score based notifications -->
            <div class="block1">
              <div class="grid grid-cols-2 gap-20">
                <span>
                  
                  <!-- Form for defining min and optimum transaction scores
                  on a daily, weekly or monthly basis -->
                  <form action="/adminportal/create/score" method="post">
                    
                    <!-- Radio buttons for chosing basis -->
                    <div class="block">
                      <span class="flex justify-around">
                        <span>
                          <label class="inline-flex items-center">
                            <input type="radio" class="form-radio" name="freq" value="daily">
                            <span class="ml-2"> Daily </span>
                          </label>
                        </span>
                        <span>
                          <label class="inline-flex items-center">
                            <input type="radio" class="form-radio" name="freq" value="weekly">
                            <span class="ml-2"> Weekly </span>
                          </label>
                        </span>
                        <span>
                          <label class="inline-flex items-center">
                            <input type="radio" class="form-radio" name="freq" value="monthly">
                            <span class="ml-2"> Monthly </span>
                          </label>
                        </span>
                      </span>
                    </div><br>
                  
                    <!-- Input fields for taking defined scores -->
                    <h3> Set Minimal Transaction Score </h3>
                    <input type="text" name="minscore" id="minscore" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-700">
                    <h3> Set Optimal Transaction Score </h3>
                    <input type=" text" name="optscore" id="optscore" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-700">
                  
                    <!-- Auto-generated value for authenticating admin -->
                    <input type= "hidden" name="password" id="password" value="{{ pw }}">
                    <div class=" flex items-baseline justify-around">
                  
                      <!-- Submit Button -->
                      <button type="submit" class="px-6 py-2 mt-4 text-white bg-blue-700 rounded-lg hover:bg-blue-900"> Create </button>
                    </div>
                  </form>
                </span>
                <span>
                
                  <!-- Form for defining minimum and optimum
                  monthly achievement of employees -->
                  <form action="/adminportal/create/monthachievement" method="post">
                    <h3> Set Minimum Monthly Ahievement </h3>
                
                    <!-- Input fields for taking defined achievements -->
                    <input type="text" name="minachieve" id="minachieve" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-700">
                    <h3> Set Optimal Monthly Achievement </h3>
                    <input type=" text" name="optachieve" id="optachieve" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-700">
                 
                    <!-- Auto-generated value for authenticating admin -->
                    <input type= "hidden" name="password" id="password" value="{{ pw }}">
                    <div class=" flex items-baseline justify-around">
                 
                      <!-- Submit Button -->
                      <button type="submit" class="px-6 py-2 mt-4 text-white bg-blue-700 rounded-lg hover:bg-blue-900"> Create </button>
                    </div>
                  </form>
                </span>
              </div>
            </div>

            <!-- Section for creating notification trigger based on user's activity -->
            <div class="block2 p-5 hidden">
              <form action="/adminportal/create/inactivity" method="post">
                <div class="flex flex-col-2 gap-32">
                  <span class="flex justify-start">

                    <!-- Input field for setting time of notification -->
                    <h3> Set Notification Time For inactivity &nbsp; </h3>
                    <br>
                    <input type="time" name="time" id="time" class="px-12 flex justify-around" />
                  </span>
                  <span class="flex justify-end">

                    <!-- Dropdown for setting frequency of notification -->
                    <h3> Frequency </h3> &nbsp; &nbsp;
                    <br />
                    <select id="frequency" name="frequency" class="px-12">
                      <option value="0"> Only Today </option>
                      <option value="1"> Everyday </option>
                    </select>
                  </span>
                </div><br><br>
                <div class="flex items-baseline justify-around">
                  
                  <!-- Auto-generated value for authenticating admin -->
                  <input type="hidden" name="password" id="password" value="{{ pw }}">

                  <!-- Submit Button -->
                  <button class="px-6 py-2 mt-4 text-white bg-blue-700 rounded-lg hover:bg-blue-900"> Create </button>
                </div>
              </form>
            </div>

            <!-- Section for Creating time based notifications -->
            <div class="block3 p-1 hidden">
              <form action="/adminportal/create/time" method="post">

                <!-- Radio buttons for selecting the type of notification -->
                <div class="block">
                    <div class="flex justify-center">
                      <span>
                        <span class="px-2"> Notification type: &nbsp; </span>
                        <label class="px-4">
                          <input type="radio" class="form-radio" name="type" value="rwd">
                          <span class="ml-1"> Reward </span>
                        </label>
                      </span>
                      <span>
                        <label class="px-4">
                          <input type="radio" class="form-radio" name="type" value="rmd">
                          <span class="ml-1"> Reminder </span>
                        </label>
                      </span>
                      <span>
                        <label class="px-4">
                          <input type="radio" class="form-radio" name="type" value="alr">
                          <span class="ml-1"> Alert </span>
                        </label>
                      </span>
                    </div><br>
                </div><br>
                <div class="flex flex-col-3 gap-4 justify-center">

                  <!-- Input field for setting time of notification -->
                  <span class=" flex justify-start">
                    <h3> Set Notification Time &nbsp; </h3>
                    <br>
                    <input type="time" name="time" id="time" class="px-12" />
                  </span>

                  <!-- Checkbox to select to notify everyday -->
                  <span class="ml-12">
                    <input type="checkbox" name="check" id="check" value="on">
                    <label for="everyday"> Everyday </label>
                  </span>

                  <!-- Input field for setting number of days -->
                  <span class=" flex justify-end">
                    <h3> For &nbsp; </h3>
                    <input type="text" name="freq" id="freq" class="pl-1">
                    <h3> &nbsp; Days </h3>
                  </span>
                </div><br><br>

                <!-- Input field for notification content -->
                <div>
                  <h3> Detailed Notification </h3>
                  <textarea type="text" name="content" id="content" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-700"></textarea>
                </div>
                <div class="flex items-baseline justify-around">

                  <!-- Auto-generated value for authenticating admin -->
                  <input type="hidden" name="password" id="password" value="{{ pw }}">

                  <!-- Submit button -->
                  <button class="px-6 py-2 mt-4 text-white bg-blue-700 rounded-lg hover:bg-blue-900"> Create </button>
                </div>
              </form>
            </div>

            <!-- Section for creating event based notificatons -->
            <div class="block4 p-5 hidden">
              <form action="/adminportal/create/event" , method="post">
                <span class="flex flex-col-3 gap-10">

                  <!-- Input field for setting date of event -->
                  <span class=" flex justify-start">
                    <h3 class="mr-1"> Set date of Event &nbsp; </h3>
                    <br>
                    <input type="date" name="date" id="date" class="px-12 h-8" /><br><br>
                  </span>

                  <!-- Input field for setting days before which
                    reminder will be sent to employees -->
                  <span class=" flex justify-end">
                    <h3 class="mr-1"> Notify before &nbsp; </h3>
                    <input type="text" name="days" id="days" class="h-8 pl-1"><br>
                    <h3> &nbsp;Days </h3>
                  </span>
                </span>

                <!-- Input field for Event name and description -->
                <div>
                  <h3> Event description </h3>
                  <textarea type="text" name="content" id="content" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-700"></textarea>
                </div>
                <div class="flex items-baseline justify-around">

                  <!-- Auto-generated value for authenticating admin -->
                  <input type="hidden" name="password" id="password" value="{{ pw }}">

                  <!-- Submit Button -->
                  <button class="px-6 py-2 mt-4 text-white bg-blue-700 rounded-lg hover:bg-blue-900"> Create </button>
                </div>
                </span>
              </form>
            </div>

            <!-- Section for creating notifications only for some specific role(s) -->
            <div class="block5 p-5 hidden">
              <form action="/adminportal/create/role" method="post">
                <div class="block ">
                  <div class="flex justify-center">

                    <!-- Radio buttons for selecting the type of notification -->
                    <span>
                      <span class="px-2"> Notification type: &nbsp; </span>
                      <label class="px-4">
                        <input type="radio" class="form-radio" name="type" value="rwd">
                        <span class="ml-1"> Reward </span>
                      </label>
                    </span>
                    <span>
                      <label class="px-4">
                        <input type="radio" class="form-radio" name="type" value="rmd">
                        <span class="ml-1"> Reminder </span>
                      </label>
                    </span>
                    <span>
                      <label class="px-4">
                        <input type="radio" class="form-radio" name="type" value="alr">
                        <span class="ml-1"> Alert </span>
                      </label>
                    </span>
                  </div>
                </div><br>

                <!-- Checkboxes for selecting the group(s) to notify -->
                <div class="flex mt-2 justify-center">
                  <span class="mx-4"> Roles to notify: &nbsp; </span>
                  <div class="flex">
                    <div>
                      <label class="px-4">
                        <input type="checkbox" name="roles" value="CEO" class="form-checkbox" checked>
                        <span class="ml-1"> CEO </span>
                      </label>
                    </div>
                    <div>
                      <label class="px-4">
                        <input type="checkbox" name="roles" value="MNG" class="form-checkbox">
                        <span class="ml-1"> Managers </span>
                      </label>
                    </div>
                    <div>
                      <label class="px-4">
                        <input type="checkbox" name="roles" value="STF" class="form-checkbox">
                        <span class="ml-1"> Staffs </span>
                      </label>
                    </div>
                    <div>
                      <label class="px-4">
                        <input type="checkbox" name="roles" value="TML" class="form-checkbox" checked>
                        <span class="ml-1"> Team leaders </span>
                      </label>
                    </div>
                  </div>
                </div><br>

                <!-- Input field for notification content -->
                <div>
                  <h3> Notification description </h3>
                  <textarea type="text" name="content" id="content" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-700"></textarea>
                </div>
                <div class="flex items-baseline justify-around">

                  <!-- Auto-generated value for authenticating admin -->
                  <input type="hidden" name="password" id="password" value="{{ pw }}">

                  <!-- Submit Button -->
                  <button class="px-6 py-2 mt-4 text-white bg-blue-700 rounded-lg hover:bg-blue-900"> Create </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div>

        <!-- Notifications suggestions from users -->
        <div class="bg-blue-200 rounded-3xl p-5 shadow-2xl font-sans">
          <h1 class="font-bold text-center pb-2"> Notification suggestions </h1>
          
          <!-- Refresh Suggestions button -->
          <form action="/adminportal" method="post" class="text-center">
            <input type="hidden" name="password" id="password" value="{{ pw }}">
            <button class="text-sm font-semibold text-blue-600 hover:underline"> &#8635; REFRESH </button>
          </form>
          <br>
          <!-- Passing all suggestions in the form of a list -->
          {% for notification in suggestions %}
            {% if notification[2] == 'rwd' %} <!-- If the suggestion is of type 'Reward' -->

              <div class="bg-white rounded-3xl p-3 border-4 border-green-600 shadow-2xl font-sans flex flex-col-2">

                <!-- SVG Icon to show -->
                <svg class="h-10 w-10 fill-current text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <path fill-rule="evenodd" d="M5 5a3 3 0 015-2.236A3 3 0 0114.83 6H16a2 2 0 110 4h-5V9a1 1 0 10-2 0v1H4a2 2 0 110-4h1.17C5.06 5.687 5 5.35 5 5zm4 1V5a1 1 0 10-1 1h1zm3 0a1 1 0 10-1-1v1h1z" clip-rule="evenodd" />
                  <path d="M9 11H3v5a2 2 0 002 2h4v-7zM11 18h4a2 2 0 002-2v-5h-6v7z" />
                </svg>
                <span class="pl-3 w-full">

                  <!-- Actual notification content -->
                  <h4 class=" text-green-600 font-bold mb-2"> {{ notification[1] }} </h4>

                  <!-- Buttons to take action on suggestion -->
                  <span class="flex justify-around mt-3">

                    <!-- Button to Notify everyone -->
                    <form action="/adminportal/suggestion" method="post">
                      <input type="hidden" name="password" id="password" value="{{ pw }}">
                      <input type="hidden" name="id" id="id" value="{{ notification[0] }}">
                      <input type="hidden" name="task" id="task" value="notify">
                      <button class="text-sm text-blue-600 hover:underline"> Notify all </a>
                    </form>

                    <!-- Button to Discard Suggestion -->
                    <form action="/adminportal/suggestion" method="post">
                      <input type="hidden" name="password" id="password" value="{{ pw }}">
                      <input type="hidden" name="id" id="id" value="{{ notification[0] }}">
                      <input type="hidden" name="task" id="task" value="discard">
                      <button class="text-sm text-blue-600 hover:underline"> Discard suggestion </a>
                    </form>
                  </span>
                </span>
              </div>
            <br>

            {% elif notification[2] == 'rmd' %} <!-- If the suggestion is of type 'Reminder' -->

              <div class="bg-white rounded-3xl p-3 border-4 border-yellow-400 shadow-2xl font-sans flex flex-col-2">
                
                <!-- SVG Icon to show -->
                <svg class="h-10 w-10 fill-current text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd" />
                </svg>
                <span class="pl-3 w-full">

                  <!-- Actual notification content -->
                  <h4 class="text-yellow-400 font-bold mb-2"> {{ notification[1] }} </h4>
                
                  <!-- Buttons to take action on suggestion -->
                  <span class="flex justify-around mt-3">

                    <!-- Button to Notify everyone -->
                    <form action="/adminportal/suggestion" method="post">
                      <input type="hidden" name="password" id="password" value="{{ pw }}">
                      <input type="hidden" name="id" id="id" value="{{ notification[0] }}">
                      <input type="hidden" name="task" id="task" value="notify">
                      <button class="text-sm text-blue-600 hover:underline"> Notify all </a>
                    </form>

                    <!-- Button to Discard suggestion -->
                    <form action="/adminportal/suggestion" method="post">
                      <input type="hidden" name="password" id="password" value="{{ pw }}">
                      <input type="hidden" name="id" id="id" value="{{ notification[0] }}">
                      <input type="hidden" name="task" id="task" value="discard">
                      <button class="text-sm text-blue-600 hover:underline"> Discard suggestion </a>
                    </form>
                  </span>
                </span>
              </div>
            <br>

            {% elif notification[2] == 'alr' %} <!-- If the suggestion is of type 'Alert' -->

              <div class="bg-white rounded-3xl p-3 border-4 border-red-500 shadow-2xl font-sans flex flex-col-2">
                
                <!-- SVG Icon to show -->
                <svg class="h-10 w-10 fill-current text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                </svg>
                <span class="pl-3 w-full">

                  <!-- Actual notification content -->
                  <h4 class="text-red-500 font-bold mb-2"> {{ notification[1] }} </h4>

                  <!-- Buttons to take action on suggestion -->
                  <span class="flex justify-around mt-3">

                    <!-- Button to Notify everyone -->
                    <form action="/adminportal/suggestion" method="post">
                      <input type="hidden" name="password" id="password" value="{{ pw }}">
                      <input type="hidden" name="id" id="id" value="{{ notification[0] }}">
                      <input type="hidden" name="task" id="task" value="notify">
                      <button class="text-sm text-blue-600 hover:underline"> Notify all </a>
                    </form>

                    <!-- Button to Discard suggestion -->
                    <form action="/adminportal/suggestion" method="post">
                      <input type="hidden" name="password" id="password" value="{{ pw }}">
                      <input type="hidden" name="id" id="id" value="{{ notification[0] }}">
                      <input type="hidden" name="task" id="task" value="discard">
                      <button class="text-sm text-blue-600 hover:underline"> Discard suggestion </a>
                    </form>
                  </span>
                </span>
              </div>
            <br>

            {% endif %}
          {% endfor %}

        </div>
      </div>
    </div>
  </div>

  <!-- Linking JavaScript File -->
  <script src="../static/admin.js"></script>
</body>
{% endblock body %}